@import './_variables.scss';

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: flex-end;
  width: 100%;
  padding: 12px 10%;
  background: $base-color;
  font-family: 'Bellota', cursive;
  ul {
    display: flex;
    li {
      font-size: 14px;
      font-weight: 600;
      padding: 12px 20px;
      list-style: none;
      a {
        color: $secondary-color;
      }
    }
  }
  .smallPrint {
    font-size: 12px;
    color: $secondary-color;
    text-transform: uppercase;
  }
}