@import './_variables.scss';

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 10%;
  font-family: 'Bellota', cursive;
  h1 {
    font-size: 32px;
    color: $secondary-color;
  }
  .list__container {
    display: flex;
    li {
      font-size: 18px;
      font-weight: 600;
      padding: 12px 20px;
      list-style: none;
      text-decoration: none;
      color: $base-color;
      a {
        color: $secondary-color;
      }
    }
    .listItemActive {
      color: $secondary-color;
    }
  }
}